@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}
body {
    font-family: "Sometype Mono", monospace;
    color: #0a2735;
}
menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}
.img {
    display: block;
    max-width: 100%;
}

/* Button */
.button {
    background-color: #c547c5;
    border: 0 solid #13223f;
    box-sizing: border-box;
    color: #150f1a;
    display: flex;
    font-family: "Sometype Mono", monospace;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 300px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .button:focus {
    outline: 0;
  }
  .button:after {
    content: '';
    position: absolute;
    border: 1px solid #4C32B3;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }
  .button:hover:after {
    bottom: 2px;
    left: 2px;
  }
  @media (min-width: 768px) {
    .button {
      padding: .75rem 3rem;
      font-size: 1.25rem;
    }
  }
  

/* HEADER SECTION--1 */

.section--1 {
    background-color: #eff5f7;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}
.header--wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
}
.header {
    display: flex;
    justify-content: space-between;
}
.header--logo-container {
    margin-top: 10px;
    margin-bottom: 10px;
}
.header--logo-link {
    color: #d4d4d4;
    font-size: 16px;
    font-weight: bold;
}
.header--menu {
    display: flex;
    margin-top:10px
}
.header--menu-item {
    padding-left: 50px;
}
#music {
    color:#c470c8;
}
#about {
    color:#42b281;
}
#contact {
    color:#4a2ab5;
}
a {
    text-decoration: none;
    color: black;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;


    margin-top: 10px;
}
.hero--left {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
}
.hero--left-heading {
    line-height: 1.5;
    padding-bottom: 20px;
}
.hero--left-text {
    line-height: 1.5;
    text-align: end;
    margin-bottom: 40px;
}
.fable--img {
    
    border-radius: 12px;
    box-shadow: 0px 8px 16px 0px rgba(16, 44, 73, 0.522);
    margin-bottom: 15px;
    
}


/* DISCOGRAPHY SECTION--2 */

.section--2 {
    background-color: #d4d4d4;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}
.disco--wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
}
.disco--header {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 34px;
    text-align: center;
}
.alb-thmb {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: #162c3d 0px 4px 8px 0px, #d83cd3 0px 4px 8px 0px;
}
#yk {
    box-shadow: #38163d 0px 4px 8px 0px, #3c8dd8 0px 4px 8px 0px;  
}
#dc {
    box-shadow: #42044d 0px 4px 8px 0px, #ef2b9d 0px 4px 8px 0px;  
}
#od {
    box-shadow: #162b3d 0px 4px 8px 0px, #d83cac 0px 4px 8px 0px;  
}
#es {
    box-shadow: #16263d 0px 4px 8px 0px, #4ac8ca 0px 4px 10px 0px;  
}
#dcbs {
    box-shadow: #161d3d 0px 4px 8px 0px, #d83c4c 0px 4px 8px 0px;  
}
#te {
    box-shadow: #6a1905 0px 4px 8px 0px, #5ed83c 0px 4px 8px 0px;  
}
#fl {
    box-shadow: #3d1626 0px 4px 8px 0px, #d8533c 0px 4px 8px 0px;  
}
#l97 {
    box-shadow: #163d16 0px 4px 8px 0px, #3cd8d0 0px 4px 8px 0px;  
}
.alb-name {
    text-align: center;
    margin-bottom: 15px;
}
.disco--thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



/* ATKO SECTION--3 */

.section--3 {
    background-color: #e9f1f3;
    display: block;
    width: 100%;
    height: auto;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px; 
}
.atko--wrapper {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: space-around;
    align-items: center;
}
.atko {
    margin-bottom: 50px;
    line-height: 1.5;
    max-width: 600px;
    text-align: center;
}
.atko--text {
    flex-shrink: 1;
    min-width: 0;
}
.author {
    font-size: 36px;
    color: #c547c5;
}
.antler-woman {
    max-width: 400px;
    min-width: 0;

}
.antler-woman--img {
    height: auto;
    width: 100%;
}


/* CONTACT SECTION--4 */

.section--4 {
    background-color: #d4d4d4;
    display: block;
    width: 100%;
    height: auto;
    justify-content: center;
}
.antler--wrapper {
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: space-around;
}
.antler-forest {
    max-width: 400px;
}
.antler-forest--img {
    width: 100%;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 450px;
}
.button--contact {
    margin-top: 50px;
    background-color: #3a88c6;
}
.button--contact:after {
    border: 1px solid #A832B3;
}



/* FOOTER SECTION--5 */

.section--5 {
    background-color: #e9f1f3;
    display: block;
    width: 100%;
    height: auto;
    justify-content: center;
}
.footer {
    display: flex;
    justify-content: space-between;
}
.antler-bust {
    max-width: 600px;
}
.copyright {
    font-size: 12px;
    align-self: flex-end;
}


/* Music Link Page */
.body--music-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9f1f3;
}

.header--logo-link-2 {
    color: #0a2735;
    font-weight: bold;
}

.logo--container {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #3a88c6;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    height: auto;
    border-radius: 12px;
    box-shadow: 0px 8px 12px 0px rgba(16, 44, 73, 0.522);
    margin-bottom: 15px;
    border: 2px solid black;
}

.logo {
    max-width: 300px;
}

.logo--img {
    width: 100%;
}

.yt--logo {
    margin-top: 30px;
}
.spotify--logo {
    margin-top: 20px;
}
.soundcloud--logo {
    margin-top: 20px;
}


@media(min-width: 1064px) {
    .author {
        position: relative;
        left: 100px;
    }
}

@media(max-width: 1063px) {
    .alb-thmb {
        width: 130px;
        height: 130px;
       
    }
    .alb-name {
        font-size: 14px;
    }

   #name--dcb,
   #name--tb {
    font-size: 12px;
   }

   .atko {
    font-size: 12px;
   }

   .author {
    font-size: 22px;
   }

   .antler-woman {
    max-width: 250px;
   }

   .contact--text {
    font-size: 12px;
   }
}

@media(max-width: 852px) {

    .header--wrapper {
        padding-left: 100px;
        padding-right: 100px;
    }

    .header--logo-link {
        font-size: 16px;
    }

    .header--menu-item {
        padding-left: 20px;
    }

    .hero--left-heading {
        font-size: 16px;
    }
    .hero--left-text {
        font-size: 12px;
    }


    .hero {
        flex-direction: column;
    }

    .hero--right {
        margin-bottom: 40px;
    }
    .alb-thmb {
        width: 85px;
        height: 85px;
       
    }
    .alb-name {
        font-size: 11px;
    }

   #name--dcb,
   #name--tb {
    font-size: 8px;
   }

   .disco--wrapper {
    padding-left: 50px;
    padding-right: 50px;
   }

   .atko--wrapper {
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
   }

   .atko--text {
    text-align: center;
   }


   .footer {
        flex-direction: column;
    }

    .copyright {
        align-self: center;
    }

    .antler-bust {
        align-self: center;
    }

    .antler--wrapper {
        margin-left: 20px;
        margin-right: 20px;
        justify-content: space-around;
    }


}